.mapboxgl-ctrl-top-right{
  display: flex;
}
.menu {
  font-size: 14px;
  border: 1px solid #ccc;
  z-index: 9999;
  position: absolute;
  background: #f2f2f2;
  padding: 5px 5px;
  border-radius: 5px;
  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    li {
      font-size: 13px;
      min-width: 100px;
      div{
        padding: 3px 0px;
      }
      .el-divider--horizontal{
        margin: 1px 0;
        padding: 0;
      }
      div:hover {
        background: #e1dddd;
      }
    }
  }
}